<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail</title>
	</head>
	<body>
	<span th:if="${checkID} == null">
		<h3>Mohon maaf anda tidak memasukkan argumen ID</h3>
	</span>
	<span th:unless="${checkID} == null">
		<span th:if="${car} == null">
			<h3>Mohon maaf mobil dengan ID yang anda ingin update tidak ditemukan</h3>
		</span>
		<span th:unless="${car} == null">
			<h3>Data Amount yang baru berhasil disimpan!!! Kondisi saat ini:</h3>
			<h3 th:text="'ID: '+ ${car.id}"></h3>
			<h3 th:text="'Brand: '+ ${car.brand}"></h3>
			<h3 th:text="'Type: '+ ${car.type}"></h3>
			<h3 th:text="'Price: '+ ${car.price}"></h3>
			<h3 th:text="'Amount: '+ ${car.amount}"></h3>
		</span>
	</span>
	</body>
</html>